// bold--r in module/bold--r
// stands for bold right

.bold--r {
    position: absolute;
    left: 2650px;
    display: inline-block;
    width: 600px;
    margin-right: 90px;
    text-align: right;

    @include m(heading){
        font-size: em(55px);
        font-weight: $font__weight--bold;
        margin-bottom: 20px;
        line-height: 65px;
        letter-spacing: 1px;
    }

    @include m(content){
        margin-top: 20px;
        margin-bottom: 60px;
        color: $cape-cod;
        font-weight: $font__weight--light;
        font-size: em(28px);
        line-height: 40px;
    }

    @include m(button){
        border-radius: 0 20px 0 20px;
        background: $cerulean;
        display: inline-block;
        padding: 18px 34px;
        color: $white--solid;
        font-weight: $font__weight--bold;
        font-size: em(15px);
        letter-spacing: 2px;
    }

    @include m(cta){
        position: absolute;
        bottom: -250px;
        right: 0;
        font-size: em(20px);
        color: $cape-cod;
        font-weight: $font__weight--bold;
        font-family: $font__weight--xbold--os;
        letter-spacing: 1px;

        &:hover{
            color: $cerulean;
        }
    }

}